<div class="row">
  <div class="col">&nbsp;</div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="height: 400px;">
    <div class="carousel-item active h-100">
      <div class="card text-center text-white bg-dark h-100">
        <div class="card-body">
          <h3 class="card-title">Notifications as a Service</h3>
          <p class="card-text">
            A roboust notifications service that will scale and grow
            independantly to the rest of your application.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item h-100">
      <div class="card text-center text-white bg-dark h-100">
        <div class="card-body h-100">
          <h3 class="card-title">Simple to Integrate</h3>
          <p class="card-text">
            Simply add the code snippet to any site and have your users enjoy
            visual notifications on the site as well as HTML 5 push
            notifications and a variety of plans for email and SMS
            notifications.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item h-100">
      <div class="card text-center text-white bg-dark h-100">
        <div class="card-body h-100">
          <h3 class="card-title">Powerful functionality</h3>
          <p class="card-text">
            Support for simple whole site notifications as well as granular
            notifications for certain users, groups of users and users in
            hierarchies.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col"><hr /></div>
</div>

<div class="row mt-5">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= link_to "start getting notifications now!", new_user_registration_path, class: "btn btn-primary btn-block" %>
  </div>
</div>
