<%= content_for :site_nav do %>
  <ul class="nav text-light">
    <li class="nav-item">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark p-0">
          <li class="breadcrumb-item text-light"><%= link_to "Sites", sites_path %></li>
          <li class="breadcrumb-item active text-light" aria-current="page"><%= @site.url %></li>
        </ol>
      </nav>
    </li>
  </ul>
<% end %>

<%= render "sites_nav" %>

<div class="row mt-3">
  <div class="col">
    metrics like useage, cost, etc will go here ...
  </div>
</div>
